<div class="export">
  <%= link_to 'Export Users', export_users_path, remote: true, class: 'btn btn-primary btn-lg' %>
  <div class="well" style="display:none">
    <div class="row">
      <div class="col-xs-12">
        <div class="progress-status text-primary"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="progress progress-striped active">
          <div class="progress-bar">
            <div class="text-primary">
              0%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'View csv', '/system/export.csv', class: 'btn btn-success export-link', style: 'display:none' %>
</div>
